---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Event from "../components/Events.astro";
import Footer from "../components/MyFooter.astro";
import Testimonial from "../components/Testimonials.astro";
import "../components/Fonts.astro";
import { Image } from "astro:assets";
import aritLogo from "../assets/images/aritlogo.png";
---

<Layout class="relative">
  <div class="absolute h-23 w-full bg-gradient-to-b from-(--pink) to-white">
  </div>
  <Navbar />
  <!-- Hero page start -->
  <section id="hero" class="flex items-center justify-center py-20">
    <div
      class="m-auto w-[min(95%,1000px)] pb-8 text-center tracking-wider sm:pt-14 xl:pt-25 xl:pb-12"
    >
      <p
        class="m-auto mb-8 w-max rounded-4xl border border-gray-200 px-5 py-3 text-sm font-bold text-(--blue) shadow-xl sm:mb-6"
      >
        <a
          class="flex font-semibold focus:opacity-80 focus:outline-hidden"
          href="#"
          aria-label="Brand"
        >
          <span
            class="inline-flex items-center gap-x-2 font-[(--mulish)] text-sm font-semibold text-(--blue) md:text-lg"
          >
            <Image
              src={aritLogo}
              alt="Arit Circle photo"
              width={30}
              format="webp"
              quality={100}
              class="rounded-sm shadow-lg"
            />
            The Queen Arit Circle
          </span>
        </a>
      </p>
      <h1
        class="mb-6 font-[(--mulish)] text-[clamp(35px,5vw,50px)] leading-[1.2] font-bold [text-wrap:balance] text-(--blue) sm:mb-8 sm:text-[clamp(50px,5vw,60px)] lg:text-[clamp(70px,5vw,80px)]"
      >
        Go from Learning to Earning
      </h1>
      <p
        class="mb-8 text-[clamp(14px,5vw,16px)] leading-[1.5] [text-wrap:balance] text-gray-600 sm:mb-6 sm:text-[clamp(16px,5vw,18px)]"
      >
        Master the interviewing, collaboration, and leadership skills that win
        clients, land roles, and grow your career in tech.
      </p>
      <div
        class="m-auto grid w-[min(90%,600px)] grid-cols-1 gap-6 sm:grid-cols-2"
      >
        <button
          ><a
            href="#"
            class="group flex items-center justify-center gap-4 rounded-[10rem] border border-(--blue) px-2 py-4 text-[16px] font-bold text-(--blue) shadow-xl transition-all duration-200 ease-in-out hover:shadow-none"
            >See Upcoming Events
            <div
              class="relative flex h-6 w-6 items-center justify-center gap-2 overflow-hidden rounded-[50%]"
            >
              <iconify-icon
                icon="teenyicons:top-right-outline"
                class="absolute rotate-45 text-(--blue) transition-all duration-200 ease-in-out group-hover:translate-x-9"
                width="15"
                height="15"></iconify-icon>
              <iconify-icon
                icon="teenyicons:top-right-outline"
                class="absolute right-11 rotate-45 text-(--blue) transition-all duration-200 ease-in-out group-hover:translate-x-10"
                width="15"
                height="15"></iconify-icon>
            </div></a
          >
        </button>
        <button
          ><a
            href="#"
            class="group flex items-center justify-center gap-4 rounded-[10rem] border border-(--blue) bg-(--blue) px-2 py-4 text-[16px] font-bold text-white transition-all duration-200 ease-in-out hover:border-(--pink) hover:bg-(--pink)"
            ><iconify-icon
              icon="line-md:plus"
              class="rounded-4xl border border-white text-white transition-all duration-200 ease-in-out group-hover:rotate-90"
              width="20"
              height="20"></iconify-icon> Join the Circle</a
          ></button
        >
      </div>
      <div
        class="mt-8 flex flex-wrap items-center justify-center gap-2 text-lg text-gray-600 sm:mt-6"
      >
        <div class="flex w-full justify-center">
          <img
            class="w-8 translate-x-4 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/AT-IMG.jpg"
            alt="Atom Image"
          />
          <img
            class="w-8 translate-x-2 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/MA-IMG.jpg"
            alt="Miracle Image"
          />
          <img
            class="w-8 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/QT-IMG.jpg"
            alt="Qtguru Image"
          />
          <img
            class="w-8 -translate-x-2 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/GD-IMG.jpg"
            alt="Giztek Image"
          />
          <img
            class="z-1 w-8 -translate-x-4 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/TB-IMG.jpg"
            alt="Technical Ben Image"
          />
        </div>
        <p>1000+ Members</p>
      </div>
    </div>
  </section>
  <!-- End of hero page -->
  <!-- Arit speech start -->
  <section 
    class="bg-pink-50/50 py-20 text-gray-800 shadow-lg shadow-pink-50/90"
  >
    <div
      class="m-auto w-[min(95%,600px)] rounded-4xl border border-gray-200 bg-white p-8 shadow-2xl sm:p-12"
    >
      <!-- Heading -->
      <h2
        class="mb-10 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
      >
        From Learning to Earning: Let’s Bridge the Gap
        <div class="m-auto mt-2 h-[1px] w-full rounded-2xl bg-(--pink)"></div>
      </h2>

      <!-- Paragraphs -->
      <div
        class="max-w-prose space-y-6 text-[clamp(14px,5vw,16px)] leading-relaxed tracking-wide [text-wrap:pretty]"
      >
        <p>
          In tech, the transition from <strong class="text-gray-700"
            >learning</strong
          > to <strong class="text-gray-700">earning</strong> is often filled with
          challenges, disappointments, and distractions.
        </p>

        <p>
          <strong class="text-gray-700">My community's mission</strong> is to provide
          real opportunities that strengthen the skills that truly move your tech
          career forward.
        </p>

        <!-- Skills List -->
        <ul class="list-inside list-disc space-y-2 pl-4 text-gray-700">
          <li><strong class="text-gray-700">Effective Interviewing</strong></li>
          <li><strong class="text-gray-700">Tech Collaboration</strong></li>
          <li><strong class="text-gray-700">Team Leadership</strong></li>
          <li><strong class="text-gray-700">Engaging Storytelling</strong></li>
          <li>...and much more.</li>
        </ul>

        <p>
          We support early-career and mid-level tech professionals: software
          developers, PMs, designers, data analysts, cybersecurity techies, VAs,
          and more.
        </p>

        <p>
          If you're still learning the basics of your tech field — you are
          welcome here too!
        </p>
      </div>

      <!-- Author -->
      <div class="mt-10 flex items-center justify-end-safe gap-4">
        <img
          src="/images/QA-IMG.webp"
          class="h-12 w-12 rounded-full object-cover shadow-md"
          alt="Queen Arit Image"
        />
        <div>
          <p class="text-md font-semibold text-(--blue)">Queen Arit</p>
          <p class="text-sm font-medium text-gray-600 italic">Founder</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Arit speech end -->
  <!-- Benefits of Community start -->
  <section
    class="relative flex overflow-hidden bg-white py-20 text-center text-(--blue)"
  >
    <div class="z-1 m-auto w-[min(90%,1152px)]">
      <h2
        class="m-auto mb-10 w-[min(90%,950px)] text-center text-xl font-bold text-(--blue) sm:text-3xl sm:[text-wrap:balance]"
      >
        Join a community that gives you front-row access to the tools and
        support you need to level-up your tech journey.
      </h2>
      <div
        class="mb-10 grid [grid-template-columns:repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-8"
      >
        <div
          class="items-center rounded-4xl border border-gray-300 px-4 py-10 shadow-2xl shadow-gray-200"
        >
          <div class="mb-4">
            <div
              class="m-auto w-max rounded-[50%] text-xl font-bold bg-(--blue) px-6 py-[15px] text-white"
            >
              1
            </div>
          </div>

          <h4
            class="mb-4 text-xl font-semibold [text-wrap:balance] text-(--blue)"
          >
            Access to Resources & Opportunities
          </h4>
          <p
            class="text-[14px] leading-[1.5] tracking-wider [text-wrap:pretty] text-gray-700 sm:text-[16px]"
          >
            From job-ready tools and roadmaps to insider tips and project
            feedback, you'll enjoy access to things the average learner doesn't.
          </p>
        </div>
        <div
          class="items-center rounded-4xl border border-gray-300 px-4 py-10 shadow-2xl shadow-gray-200"
        >
         <div class="mb-4">
            <div
              class="m-auto w-max rounded-[50%] text-xl font-bold bg-(--blue) px-6 py-[15px] text-white"
            >
              2
            </div>
          </div>
          <h4
            class="mb-4 text-xl font-semibold [text-wrap:balance] text-(--blue)"
          >
            Direct Support on Your Tech Journey
          </h4>
          <p
            class="text-[14px] leading-[1.5] tracking-wider [text-wrap:pretty] text-gray-700 sm:text-[16px]"
          >
            Get answers to your questions, overcome roadblocks faster, and
            receive the guidance you need from people who’ve been there.
          </p>
        </div>
        <div
          class="items-center rounded-4xl border border-gray-300 px-4 py-10 shadow-2xl shadow-gray-200"
        >
         <div class="mb-4">
            <div
              class="m-auto w-max rounded-[50%] text-xl font-bold bg-(--blue) px-6 py-[15px] text-white"
            >
              3
            </div>
          </div>
          <div
            class="mb-4 text-xl font-semibold [text-wrap:balance] text-(--blue)"
          >
            <h4 class="m-auto w-full sm:w-[min(90%,200px)]">
              Be Part of a Motivated Tribe
            </h4>
          </div>
          <p
            class="text-[14px] leading-[1.5] tracking-wider [text-wrap:pretty] text-gray-700 sm:text-[16px]"
          >
            Surround yourself with like-minded, early career techies who push,
            challenge, and grow with you. No more stagnation in isolation.
          </p>
        </div>
      </div>
      <a
        type="button"
        href="#"
        class="group m-auto flex w-[min(95%,350px)] items-center justify-center gap-4 rounded-[10rem] border border-(--blue) bg-(--blue) px-2 py-4 text-[16px] font-bold text-white transition-all duration-200 ease-in-out hover:border-(--pink) hover:bg-(--pink)"
        ><iconify-icon
          icon="line-md:plus"
          class="rounded-4xl border border-white text-white transition-all duration-200 ease-in-out group-hover:rotate-90"
          width="20"
          height="20"></iconify-icon> Join the Circle</a
      >
      <div
        class="m-auto my-6 flex flex-wrap items-center justify-center gap-2 text-lg text-gray-600"
      >
        <div class="flex w-full justify-center">
          <img
            class="w-8 translate-x-4 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/AT-IMG.jpg"
            alt="Atom Image"
          />
          <img
            class="w-8 translate-x-2 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/MA-IMG.jpg"
            alt="Miracle Image"
          />
          <img
            class="w-8 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/QT-IMG.jpg"
            alt="Qtguru Image"
          />
          <img
            class="w-8 -translate-x-2 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/GD-IMG.jpg"
            alt="Giztek Image"
          />
          <img
            class="z-1 w-8 -translate-x-4 rounded-[50%] border-4 border-white shadow-lg"
            src="/images/TB-IMG.jpg"
            alt="Technical Ben Image"
          />
        </div>
        <p>Join 1000+ Members</p>
      </div>
    </div>
    <!-- <div
      class="absolute -bottom-[25%] sm:-bottom-[40%] left-[50%] h-[30rem] w-[30rem] -translate-x-[50%] rounded-full blur-2xl"
      style="background: radial-gradient(circle, var(--pink) 0%, transparent 70%);"
    >
    </div> -->
    <!-- Benefits of Community end -->
  </section>
  <Event />
  <Testimonial />
  <Footer />
</Layout>
