<section class="js-section-1 bg-blue-50/50 py-20 shadow-lg shadow-blue-50/90">
  <div class="m-auto w-[min(90%,1150px)]">
    <h2
      class="js-split mb-4 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
    >
      Highlights From The Circle
    </h2>
    <p class="mb-14 text-center text-[16px] [text-wrap:balance] text-gray-600">A look back at the events and challenges that brought our community together</p>

    <div
      class="grid [grid-template-columns:repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-8"
    >
      <!-- Event 1 -->
      <div
        class="card translate-y-10 overflow-hidden rounded-4xl border-gray-300 bg-white opacity-0 shadow transition-all duration-600 ease-out hover:shadow-xl"
      >
        <img
          src="/images/hackathon-img.jfif"
          alt="Hackathon"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p
            class="mb-4 w-max rounded-lg border border-orange-500 px-2 py-1 text-sm font-bold tracking-wider text-orange-500"
          >
            Challenge
          </p>
          <h3 class="mb-2 text-lg sm:text-xl font-semibold tracking-wider text-(--blue)">
            For CyberSecurity Techies
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            A 28-day, story-driven challenge for early-career cybersecurity
            professionals who want to learn to navigate the messy, high-stakes
            world of real-world cyber defense.
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 5 - Aug 7</span
          > -->
        </div>
      </div>

      <!-- Event 2 -->
      <div
        class="card translate-y-10 overflow-hidden rounded-4xl border-gray-300 bg-white opacity-0 shadow transition-all duration-600 ease-out hover:shadow-xl"
      >
        <img
          src="/images/marketing-img.jfif"
          alt="Design Challenge"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p
            class="mb-4 w-max rounded-lg border border-green-500 px-2 py-1 text-sm font-bold tracking-wider text-green-500"
          >
            Event
          </p>
          <h3 class="mb-2 text-lg sm:text-xl font-semibold tracking-wider text-(--blue)">
            For The Circle's Tech Mamas
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            Balancing motherhood with tech career advancement can be TOUGH! This
            encouraging event was especially for the Circle's Tech mamas; topics
            included carving an identity outside of our roles, time management,
            and dealing with mum guilt.
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 10 - Aug 15</span
          > -->
        </div>
      </div>

      <!-- Event 3 -->
      <div
        class="card translate-y-10 overflow-hidden rounded-4xl border-gray-300 bg-white opacity-0 shadow transition-all duration-600 ease-out hover:shadow-xl"
      >
        <img
          src="/images/challenge-img.jfif"
          alt="Community Meetup"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p
            class="mb-4 w-max rounded-lg border border-orange-500 px-2 py-1 text-sm font-bold tracking-wider text-orange-500"
          >
            Challenge
          </p>
          <h3 class="mb-2 text-lg sm:text-xl font-semibold tracking-wider text-(--blue)">
            For Data Analysts
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            A challenge that provides the opportunity to uncover actionable
            business intelligence that helps companies grow revenue, improve
            customer retention, and streamline inventory management.
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 12 • 7PM WAT</span
          > -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <script src="/Js/animations.js"></script> -->
