<section class="bg-blue-50/50 py-20 shadow-lg shadow-blue-50/90">
  <div class="m-auto w-[min(90%,1150px)]">
    <h2
      class="mb-10 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
    >
      Examples of Events & Challenges
    </h2>

    <div
      class="grid [grid-template-columns:repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-8"
    >
      <!-- Event 1 -->
      <div
        class="overflow-hidden rounded-4xl border-gray-300 bg-white shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/hackathon-img.jfif"
          alt="Hackathon"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p class="py-1 px-2 rounded-lg border border-green-500 tracking-wider text-sm w-max font-bold text-green-500 mb-4">Event</p>
          <h3 class="mb-2 text-xl font-semibold tracking-wider text-(--blue)">
            For CyberSecurity Techies
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            A 28-day, story-driven challenge for early-career cybersecurity
            professionals who want to learn to navigate the messy, high-stakes
            world of real-world cyber defense.
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 5 - Aug 7</span
          > -->
        </div>
      </div>

      <!-- Event 2 -->
      <div
        class="overflow-hidden rounded-4xl border-gray-300 bg-white shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/marketing-img.jfif"
          alt="Design Challenge"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p class="py-1 px-2 rounded-lg border border-green-500 tracking-wider text-sm w-max font-bold text-green-500 mb-4">Event</p>
          <h3 class="mb-2 text-xl font-semibold tracking-wider text-(--blue)">
            For Tech Marketers
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            A challenge that helps provide a clearer sense of what fits you
            best, and what kind of marketing role or niche might be worth
            doubling down on next
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 10 - Aug 15</span
          > -->
        </div>
      </div>

      <!-- Event 3 -->
      <div
        class="overflow-hidden rounded-4xl border-gray-300 bg-white shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/challenge-img.jfif"
          alt="Community Meetup"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <p class="py-1 px-2 rounded-lg border border-orange-500 tracking-wider text-sm w-max font-bold text-orange-500 mb-4">Challenge</p>
          <h3 class="mb-2 text-xl font-semibold tracking-wider text-(--blue)">
            For Data Analysts
          </h3>
          <p
            class="mb-2 text-sm leading-1.5 tracking-wider text-gray-600 sm:text-[16px]"
          >
            A challenge that provides the opportunity to uncover actionable
            business intelligence that helps companies grow revenue, improve
            customer retention, and streamline inventory management.
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 12 • 7PM WAT</span
          > -->
        </div>
      </div>
    </div>
  </div>
</section>
