<section class=" bg-blue-50/50 py-20 shadow-lg shadow-blue-50/90">
  <div class="m-auto w-[min(90%,1150px)]">
     <h2
        class="mb-10 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
      >
      Examples of Events & Challenges
    </h2>

    <div class="grid gap-8 [grid-template-columns:repeat(auto-fit,minmax(min(100%,300px),1fr))]">
      <!-- Event 1 -->
      <div
        class="overflow-hidden rounded-4xl bg-white border-gray-300 shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/hackathon-img.jfif"
          alt="Hackathon"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <h3 class="mb-2 text-xl font-semibold tracking-wider text-(--blue)">HackSprint 5.0</h3>
          <p class="mb-4 text-sm sm:text-[16px] tracking-wider leading-1.5 text-gray-600">
            Compete with devs worldwide in a 48hr code sprint. 💻
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 5 - Aug 7</span
          > -->
        </div>
      </div>

      <!-- Event 2 -->
      <div
        class="overflow-hidden rounded-4xl bg-white border-gray-300 shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/marketing-img.jfif"
          alt="Design Challenge"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <h3 class="mb-2 text-xl font-semibold tracking-wider text-(--blue)">Design Clash</h3>
          <p class="mb-4 text-sm sm:text-[16px] tracking-wider leading-1.5 text-gray-600">
            Create a UI for a social impact app and win prizes. 🎨
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 10 - Aug 15</span
          > -->
        </div>
      </div>

      <!-- Event 3 -->
      <div
        class="overflow-hidden rounded-4xl bg-white border-gray-300 shadow transition duration-300 hover:shadow-xl"
      >
        <img
          src="/images/challenge-img.jfif"
          alt="Community Meetup"
          class="h-48 w-full object-cover object-top"
        />
        <div class="p-6">
          <h3 class="mb-2 text-xl font-semibold text-(--blue) tracking-wider">Live Fireside Chat</h3>
          <p class="mb-4 text-sm sm:text-[16px] tracking-wider leading-1.5 text-gray-600">
            An open session with top dev mentors. Don’t miss this! 🎤
          </p>
          <!-- <span class="inline-block text-sm font-medium text-pink-600"
            >Aug 12 • 7PM WAT</span
          > -->
        </div>
      </div>
    </div>
  </div>
</section>
