<section class="bg-white py-20  border-t border-t-gray-200">
  <div class="m-auto w-[min(90%,1152px)]">
     <h2
        class="mb-10 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
      >Latest From Our Blog</h2>

    <div
      class="grid [grid-template-columns:repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-10"
    >
      <!-- Blog Post 1 -->
      <article
        class="overflow-hidden rounded-4xl bg-white border-gray-300 shadow transition hover:shadow-lg"
      >
        <img
          src="/images/marketing-img.jfif"
          alt="Tech Learning"
          class="w-full object-cover"
        />
        <div class="p-6">
          <h3 class="mb-2 text-xl font-semibold text-gray-900">
            5 Ways Our Community is Shaping Tomorrow
          </h3>
          <p class="mb-4 text-gray-600">
            From mentorship programs to weekly challenges, discover how members
            are building real skills and impacting lives.
          </p>
          <a href="#" class="font-medium text-pink-600 hover:underline"
            >Read More →</a
          >
        </div>
      </article>

      <!-- Blog Post 2 -->
      <article
        class="overflow-hidden rounded-4xl bg-white border-gray-300 shadow transition hover:shadow-lg"
      >
        <img
          src="/images/hackathon-img.jfif"
          alt="Tech Learning"
          class="w-full object-cover"
        />
        <div class="p-6">
          <h3 class="mb-2 text-xl font-semibold text-gray-900">
            How Our Weekly Challenges Help You Grow
          </h3>
          <p class="mb-4 text-gray-600">
            Challenges are more than just fun — they’re designed to test your
            limits and expand your creativity every week.
          </p>
          <a href="#" class="font-medium text-pink-600 hover:underline"
            >Read More →</a
          >
        </div>
      </article>
    </div>
  </div>
</section>
