<section class="py-30 pt-20">
  <div class="m-auto w-[min(90%,1150px)]">
    <h2
      class="mb-4 text-center text-xl font-bold [text-wrap:balance] text-(--blue) sm:text-3xl"
    >
      Voices From The Circle
    </h2>
    <p class="mb-5 text-center text-[16px] [text-wrap:balance] text-gray-600">Real experiences from members who've grown and thrived with us</p>
    <!-- Slider -->
    <div
      data-hs-carousel='{
  "loadingClasses": "opacity-0",
  "dotsItemClasses": "hs-carousel-active:bg-(--blue) hs-carousel-active:border-(--blue) size-2  border border-gray-300 rounded-[3px] cursor-pointer",
  "slidesQty": {
    "xs": 1,
    "lg": 3
  },
  "isDraggable": true,
  "isAutoHeight": true
  
}'
      class="card relative translate-y-10 opacity-0 transition-all duration-500 ease-out"
    >
      <div class="hs-carousel w-full overflow-hidden rounded-lg bg-white">
        <div class="relative -mx-1 min-h-100">
          <div
            class="hs-carousel-body hs-carousel-dragging:transition-none hs-carousel-dragging:cursor-grabbing absolute start-0 top-0 bottom-0 flex cursor-grab flex-nowrap gap-8 px-4 py-6 opacity-0 transition-transform duration-700"
          >
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Joining this community pushed me beyond my comfort zone — from
                the VA Challenge that gave me so much clarity, to landing a job
                after Challenge! Shout-out to Queen Arit for carving destinies.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Marvelous B.</p>
                    <p class="text-[12px] text-gray-600">
                      Tech Automation Specialist
                    </p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Just 3 days into the VA Challenge, I landed a gig! This
                community truly bridges the gap from learning to earning, by
                providing real opportunities and support that have boosted my
                confidence and opened doors I never imagined!
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Miracle A.</p>
                    <p class="text-[12px] text-gray-600">UI/UX Engineer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                In just three months with this community, I’ve grown more than I
                imagined possible. Under Queen Arit’s mentorship, I found the
                confidence to speak with clarity. I’m deeply grateful for this
                transformative journey.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Jacinta U.</p>
                    <p class="text-[12px] text-gray-600">Technical Writer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Joining The Queen Arit Circle has been nothing short of life
                changing. I have expanded my tech knowledge and engaged in
                powerful conversations that have shaped my confidence and voice.
                I have grown as a designer, unlocked new opportunities, and am
                thriving in both career and motherhood!
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Nwakaego O.</p>
                    <p class="text-[12px] text-gray-600">Product Designer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Being part of this community helped me break out of my shell -
                staying visible and consistently building my online presence.
                Through the QAC hackathon, I found my voice again as a frontend
                developer and reignited my passion to grow.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Vera N.</p>
                    <p class="text-[12px] text-gray-600">Frontend Engineer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Only this year, I have hopped on different challenges which I
                have never had any experience on, some I got gifts while some I
                lost. The essence of all these for me is that I get better. As a
                result of this I have gathered a lot of experiences which I
                haven't been able to get for 2 years.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Motunrayo A.</p>
                    <p class="text-[12px] text-gray-600">Frontend Engineer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                The Queen Arit circle gave me an opportunity that connected me
                with great mentors and peers. These people had a major impact on
                my growth and helped me gain confidence in my career as software
                developer.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Chukwudi D.O.</p>
                    <p class="text-[12px] text-gray-600">Fullstack Engineer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Being in Queen Arits' community for a while allowed me to
                immerse myself in growth. Communication, consistency, and
                visibility used to be what I struggled with, but barely 2 weeks
                in, I've moved from a struggling designer to a lady who knows
                what success is like.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Eseosa O.</p>
                    <p class="text-[12px] text-gray-600">Product Designer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Joining the Queen Arit Circle has been a blessing to me. It had
                opened my eyes to know how to do things differently, not just in
                TECH but in LIFE generally. Thank you for sharing the LIGHT.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex items-center gap-2">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Damilola A.</p>
                    <p class="text-[12px] text-gray-600">Creative Designer</p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div
              class="hs-carousel-slide flex h-90 flex-col justify-between gap-6 rounded-4xl border border-gray-300 p-6 shadow-lg"
            >
              <p class="text-[15px] sm:text-[16px]">
                Being part of TQA Circle not up to 3 months has been truly
                transformative. The VA Challenge gained me clarity, confidence,
                and direction I haven't found anywhere else. I have achieved
                milestones I didn’t think were possible in such a short time.
              </p>
              <div
                class="flex items-center gap-2 justify-between border-t border-t-gray-300 pt-6"
              >
                <div class="flex gap-2 items-center">
                  <img
                    src="/images/QA-IMG.webp"
                    class="h-10 w-10 rounded-full object-cover shadow-md"
                    alt="Queen Arit Image"
                  />
                  <div class="flex-col text-sm font-semibold text-(--blue)">
                    <p>Aishat O.</p>
                    <p class="text-[12px] text-gray-600">
                      Virtual Tech Support Specialist
                    </p>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <!-- end -->
          </div>
        </div>
      </div>

      <button
        type="button"
        class="hs-carousel-prev hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 start-[10px] top-[110%] inline-flex h-8 w-8 -translate-y-[110%] items-center justify-center rounded-xl border border-(--blue) bg-(--blue) text-white hover:bg-(--blue)/70 focus:bg-(--blue)/70 focus:outline-hidden sm:-start-6 sm:top-[50%] sm:-translate-y-[50%]"
      >
        <span class="text-2xl" aria-hidden="true">
          <svg
            class="size-5 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m15 18-6-6 6-6"></path>
          </svg>
        </span>
        <span class="sr-only">Previous</span>
      </button>
      <button
        type="button"
        class="hs-carousel-next -tranlate-y-[100.4%] hs-carousel-disabled:opacity-50 hs-carousel-disabled:pointer-events-none absolute inset-y-0 end-[10px] top-[100.4%] inline-flex h-8 w-8 items-center justify-center rounded-xl border border-(--blue) bg-(--blue) text-white hover:bg-(--blue)/70 focus:bg-(--blue)/70 focus:outline-hidden sm:-end-6 sm:top-[50%] sm:-translate-y-[50%]"
      >
        <span class="sr-only">Next</span>
        <span class="text-2xl" aria-hidden="true">
          <svg
            class="size-5 shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </span>
      </button>

      <div
        class="hs-carousel-pagination -sm:bottom-6 absolute start-0 end-0 -bottom-14 flex justify-center gap-x-2"
      >
      </div>
    </div>
    <!-- End Slider -->
      <div
        class="mt-30 flex flex-col items-center justify-center gap-2 text-lg text-gray-600 "
      >
        <p>Trusted by 1100+ Members</p>
        <div><a  href="#"
            class="group flex items-center justify-center gap-4 rounded-[10rem] border border-(--blue) bg-(--blue) px-8 py-4 text-[16px] font-bold text-white transition-all duration-200 ease-in-out hover:border-(--pink) hover:bg-(--pink)" type="button">Ready to Join Them?</a></div>
      </div>
  </div>
</section>
