---
import "../styles/global.css";
import "../components/Fonts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Arit Circle</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />

    <!-- ICONIFY -->
    <script
      src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"
    ></script>
    <script>
      const header = document.getElementById("scroll-header");
      const hero = document.querySelector("#hero"); // Make sure your hero section has id="hero"

      const observer = new IntersectionObserver(
        ([entry]) => {
          if (!entry.isIntersecting) {
            header.classList.add("opacity-100", "translate-y-[5px]");
          } else {
            header.classList.remove("opacity-100", "translate-y-[5px]");
          }
        },
        {
          root: null,
          threshold: 0,
        },
      );

      if (hero) observer.observe(hero);
    </script>

    <!-- Preline UI -->
    <script src="https://cdn.jsdelivr.net/npm/preline@2.0.3/dist/preline.min.js"
    ></script>
  </body>
</html>
