---
import "../styles/global.css";
import "../components/Fonts.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Arit Circle</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />
    <!-- ICONIFY -->
    <script
      src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"
    ></script>
    <script src="/Js/Script.js" defer></script>
    <script src="/Js/index.js" defer></script>
    
  </body>
</html>
